@tailwind base;
@tailwind components;
@tailwind utilities;


.blue1 {
color: #0345E6;
}
.blue2 {
    background-color:#0345E6 ;
    color: white;
}
.blue3 {
    background-color: #E6ECFD;
}
.start {
    width: 540px;
}

.height1 {
    height: 300px;
    margin-top: 25px;
    width: 326px;
}
@media (min-width: 768px) {
    .height1 {
        height: 100%;
        margin-top: 45px;
        width: 500px;
    }
}

.active, .accordion:hover {
    background-color:#0345E6 ;
    color: white;
}
.footer{
    background-color: #1B1F23;
    width: 100%;
}
.text {
    color: #1B1F23;
}
/* card */
.card {
    transform-style: preserve-3d;
    transition:transform 1500ms ;
}
.card:hover {
    cursor: pointer;
    transform: rotateY(180deg);
}

/* front and back of the card */
.front,
.back {
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

